* {
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
    text-align: center;
    font-family: Verdana;
    font-size: 16px;
}

h1 {
    margin: 1rem;
    color: white;
    font-size: 3rem;
    font-weight: 400;
}

a {
   font-size: 1rem;
   color: aquamarine; 
}

video {
    margin: 1rem;
}

h2 {
    margin-bottom: 1.2rem;
    color: white;
    font-size: 2.625rem;
    font-weight: 300;
}
p { 
    margin-top: 1.2rem;
    font-size: 1.3125rem;
    color: gray;
}

.camping {
    display: block;
    margin: 1.25rem auto;
}

.phone {
    display: block;
    margin: 0 auto;
    
}
.soon {
    margin-top: 2rem;
}
.footer {
    margin: 1rem;
    text-align: right;
}